{:hooks {:analyze-call {clojure.more.async/consume! hooks.consume/consume
                        clojure.more.async/consume-checked! hooks.consume/consume?
                        clojure.more.async/consume-checked!! hooks.consume/consume-blocking?
                        clojure.more.async/consume!! hooks.consume/consume-blocking}}}
