{:hooks {:analyze-call {more.async/consume! hooks.consume/consume
                        more.async/consume-checked! hooks.consume/consume?
                        more.async/consume-checked!! hooks.consume/consume-blocking?
                        more.async/consume!! hooks.consume/consume-blocking}}}
